body {
  text-align: center;
  background-color: hsl(225, 100%, 94%);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

main {
  align-items: center;
  background-image: url('images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: hsl(223, 47%, 23%);
  font-size: 1.5rem;
  font-weight: 900;
}

img {
  border-radius: 20px 20px 0 0;
}

section {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 20px;
}

.container {
  padding: 20px 40px 40px;
  color: hsl(224, 23%, 55%);
}

.summary {
  margin: 0 0 30px;
}

.summary p{
  font-size: 0.8em;
    font-weight: 500;
}

.buy-plan {
  display: flex;
  align-items: center;
  padding: 20px;
}

.price {
  margin-right: auto;
  text-align: left;
}

.price h2{
  font-size: 0.8rem;
  font-weight: 900;
  margin: 0;
  color: hsl(223, 47%, 23%);
}

.price p{
  margin: 0;
  font-size: 0.8rem;
}

.buy-plan a{
  font-weight: bolder;
  font-size: 0.8rem;
}

.icon-music {
  margin-right: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.button button{
  font-weight: 600;
  font-size: 0.7rem;
  border: none;
  width: 100%;
}

button.payment{
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  box-shadow: 0 10px 16px -6px hsl(224, 23%, 55%);
  color: hsl(225, 100%, 98%);
  margin-bottom: 10px;
  padding: 10px 0;
}

button.cancel{
  background: none;
  color: hsl(224, 23%, 55%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
